Repository mandiant/capa, pull requests merged in 2023-08, with the labels that each got.

#1671 Statement construction for mixed-scope rules
  CHANGELOG.md
  capa/features/common.py
  capa/main.py
  capa/rules/__init__.py
  tests/test_fmt.py
  tests/test_main.py
  tests/test_match.py
  tests/test_optimizer.py
  tests/test_render.py
  tests/test_rule_cache.py
  tests/test_rules.py
  tests/test_rules_insn_scope.py
  tests/test_scripts.py
  tests/test_static_freeze.py
Labels: breaking-change, gsoc, dynamic

#1678 Add a call scope
  CHANGELOG.md
  capa/features/address.py
  capa/features/extractors/base_extractor.py
  capa/features/extractors/cape/call.py
  capa/features/extractors/cape/extractor.py
  capa/features/extractors/cape/thread.py
  capa/features/extractors/null.py
  capa/features/freeze/__init__.py
  capa/main.py
  capa/render/verbose.py
  capa/rules/__init__.py
  scripts/show-features.py
  tests/fixtures.py
  tests/test_main.py
  tests/test_rules.py
Labels: breaking-change, gsoc, dynamic

#1670 Ghidra insn features
  capa/features/extractors/ghidra/helpers.py
  capa/features/extractors/ghidra/insn.py
Labels: ghidra, gsoc

#1720 elf: detect Android OS via note and dependencies
  CHANGELOG.md
  capa/features/extractors/elf.py
  tests/fixtures.py
  tests/test_os_detection.py
Labels: bug

#1721 elf: fix parsing of symtab from viv data
  CHANGELOG.md
  capa/features/extractors/elf.py
  capa/features/extractors/viv/function.py
  capa/features/extractors/viv/insn.py
Labels: bug

#1728 fix deprecation warnings
  CHANGELOG.md
  capa/features/freeze/__init__.py
  capa/ida/helpers.py
  capa/main.py
  capa/render/result_document.py
  scripts/import-to-ida.py
  scripts/proto-from-results.py
  tests/fixtures.py
  tests/test_ida_features.py
  tests/test_result_document.py
Labels: enhancement, dependencies

#1727 Ghidra: Unit Test
  .github/workflows/tests.yml
  capa/features/extractors/ghidra/basicblock.py
  capa/features/extractors/ghidra/extractor.py
  capa/features/extractors/ghidra/file.py
  capa/features/extractors/ghidra/function.py
  capa/features/extractors/ghidra/global_.py
  capa/features/extractors/ghidra/helpers.py
  capa/features/extractors/ghidra/insn.py
  tests/fixtures.py
  tests/test_ghidra_features.py
Labels: ghidra, gsoc

#1746 fix detection of CAPE reports
  capa/helpers.py
  capa/main.py
Labels: bug, gsoc, dynamic, cape

#1748 rules: add scope terms "unsupported" and "unspecified"
  capa/rules/__init__.py
  tests/test_rules.py
  tests/test_rules_insn_scope.py
Labels: enhancement, gsoc, dynamic

#1761 fix ints_to_bytes performance
  CHANGELOG.md
  capa/features/extractors/ghidra/file.py
  capa/features/extractors/ghidra/helpers.py
  capa/ghidra/helpers.py
Labels: enhancement, ghidra, gsoc

#1764 rules: use Scope enum instead of constants
  CHANGELOG.md
  capa/ida/plugin/model.py
  capa/main.py
  capa/render/verbose.py
  capa/render/vverbose.py
  capa/rules/__init__.py
  scripts/show-capabilities-by-function.py
  tests/_test_proto.py
  tests/test_rules.py
Labels: enhancement, breaking-change

#1767 add a Ghidra entry script users can invoke to run capa against a loaded Ghidra database
  CHANGELOG.md
  capa/features/extractors/ghidra/extractor.py
  capa/features/extractors/ghidra/file.py
  capa/features/extractors/ghidra/helpers.py
  capa/ghidra/capa_ghidra.py
  capa/ghidra/helpers.py
  capa/main.py
  scripts/show-features.py
  tests/test_ghidra_features.py
Labels: enhancement, ghidra, gsoc

#1766 ghidra: fix api info caching
  capa/features/extractors/ghidra/basicblock.py
  capa/features/extractors/ghidra/extractor.py
  capa/features/extractors/ghidra/helpers.py
  capa/features/extractors/ghidra/insn.py
Labels: enhancement, ghidra, gsoc

#1759 ghidra: documentation
  README.md
  capa/ghidra/README.md
  doc/img/ghidra_backend_logo.png
  doc/img/ghidra_console_output.png
  doc/img/ghidra_script_mngr_output.png
  doc/img/ghidra_script_mngr_rules.png
  doc/img/ghidra_script_mngr_verbosity.png
Labels: documentation, ghidra, gsoc

#1770 ghidra: add Ghidra feature extractor and supporting code
  .github/mypy/mypy.ini
  .github/workflows/tests.yml
  CHANGELOG.md
  README.md
  capa/features/extractors/elf.py
  capa/features/extractors/ghidra/__init__.py
  capa/features/extractors/ghidra/basicblock.py
  capa/features/extractors/ghidra/extractor.py
  capa/features/extractors/ghidra/file.py
  capa/features/extractors/ghidra/function.py
  capa/features/extractors/ghidra/global_.py
  capa/features/extractors/ghidra/helpers.py
  capa/features/extractors/ghidra/insn.py
  capa/ghidra/README.md
  capa/ghidra/__init__.py
  capa/ghidra/capa_ghidra.py
  capa/ghidra/helpers.py
  capa/helpers.py
  capa/main.py
  doc/img/ghidra_backend_logo.png
  doc/img/ghidra_script_mngr_output.png
  doc/img/ghidra_script_mngr_rules.png
  doc/img/ghidra_script_mngr_verbosity.png
  scripts/show-features.py
  tests/fixtures.py
  tests/test_ghidra_features.py
Labels: enhancement, ghidra, gsoc
