Repository mandiant/capa, pull requests merged in 2023-06, with the labels that each got.

#1513 tests: refine the IDA test runner
  .github/mypy/mypy.ini
  CHANGELOG.md
  tests/test_ida_features.py
Labels: enhancement, ida-explorer

#1566 integrate the CAPE extractor with the show-features.py script
  CHANGELOG.md
  capa/features/common.py
  capa/features/extractors/common.py
  capa/helpers.py
  capa/main.py
  scripts/show-features.py
Labels: enhancement, breaking-change, gsoc, dynamic

#1569 add a StaticFeatureExtractor class
  CHANGELOG.md
  capa/features/extractors/base_extractor.py
  capa/features/extractors/binja/extractor.py
  capa/features/extractors/cape/extractor.py
  capa/features/extractors/cape/process.py
  capa/features/extractors/dnfile/extractor.py
  capa/features/extractors/dnfile_.py
  capa/features/extractors/dotnetfile.py
  capa/features/extractors/elffile.py
  capa/features/extractors/ida/extractor.py
  capa/features/extractors/null.py
  capa/features/extractors/pefile.py
  capa/features/extractors/viv/extractor.py
  capa/features/freeze/__init__.py
  capa/main.py
  scripts/profile-time.py
  scripts/show-capabilities-by-function.py
  scripts/show-features.py
Labels: gsoc, dynamic

#1576 add the process and thread scopes
  CHANGELOG.md
  capa/rules/__init__.py
  tests/test_main.py
  tests/test_rules.py
Labels: breaking-change, gsoc, dynamic
