Repository mandiant/capa, pull requests merged in 2023-10, with the labels that each got.

#1765 protobuf: add dynamic support
  .github/mypy/mypy.ini
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  capa/render/proto/__init__.py
  capa/render/proto/capa.proto
  capa/render/proto/capa_pb2.py
  capa/render/proto/capa_pb2.pyi
  doc/installation.md
  tests/fixtures.py
  tests/test_proto.py
Labels: enhancement, breaking-change, gsoc, dynamic

#1822 update freeze for dynamic
  CHANGELOG.md
  capa/features/extractors/null.py
  capa/features/freeze/__init__.py
  tests/test_freeze_dynamic.py
Labels: enhancement, breaking-change, dynamic

#1820 add a capabilities module
  CHANGELOG.md
  capa/capabilities/__init__.py
  capa/capabilities/common.py
  capa/capabilities/dynamic.py
  capa/capabilities/static.py
  capa/ghidra/capa_ghidra.py
  capa/ida/plugin/form.py
  capa/main.py
  capa/rules/__init__.py
  scripts/bulk-process.py
  scripts/capa_as_library.py
  scripts/lint.py
  scripts/profile-time.py
  scripts/show-capabilities-by-function.py
  tests/test_capabilities.py
  tests/test_main.py
Labels: enhancement, breaking-change
